<% sidebar = partial('sidebar_cnf.ejs') %>


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
			<li class="active">Configuration</li>
		</ol>
	</div><!--/.row-->

	<h2></h2>
	
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-info">
				<div class="panel-heading">Information</div>
					<div class="panel-body">
						<div class="row">
								<div class="col-md-2">
									<label>Product name</label>
								</div>
								<div class="col-md-10">						
									<p>G3 Gateway</p>
								</div>
						</div>				
						<div class="row">
								<div class="col-md-2">
									<label>OS version</label>
								</div>
								<div class="col-md-10" id="id_sys_info">						
									<p>Linux aria 4.4.16 #3 Thu Sep 29 21:43:36 CEST 2016 armv5tejl GNU/Linux</p>
								</div>
						</div>
						<div class="row">
								<div class="col-md-2">
									<label>Application</label>
								</div>
								<div class="col-md-10" id="id_app_info">						
									<p>PLC Manager v1.0</p>
								</div>
						</div>		
						<div class="row">
								<div class="col-md-2">
									<label>Startup Time</label>
								</div>
								<div class="col-md-10" id="id_startup_time">						
									<p>0</p>
								</div>
						</div>				
					</div><!-- /.panel-body -->
			</div><!-- /.panel -->
		</div><!-- /.col-->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-success">
				<div class="panel-heading">PPP Interface</div>
					<div class="panel-body">
						<div class="form-group">
							<div class="row">
								<div class="col-md-3">
									<label>MAC Address (MAC)</label>
								</div>
								<div class="col-md-4" id="id_ppp_mac">
									<p>0</p>
								</div>
							</div>
							<div class="row">						
								<div class="col-md-3">
									<label>Unique Local Address (ULA)</label>
								</div>
								<div class="col-md-4" id="id_ppp_ula">						
									<p>0</p>
								</div>
							</div>
							<div class="row">						
								<div class="col-md-3">
									<label>Link Local Address (LLA)</label>
								</div>
								<div class="col-md-4" id="id_ppp_lla">						
									<p>0</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<label>Routing address</label>
								</div>
								<div class="col-md-4" id="id_ppp_routing">
									<p>0</p>
								</div>
							</div>
						</div>
					</div>
			</div><!-- /.panel -->
		</div><!-- /.col-->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-success">
				<div class="panel-heading">PLC Interface</div>
					<div class="panel-body">
						<div class="form-group">
							<div class="row">						
								<div class="col-md-3">
									<label>Unique Local Address (ULA)</label>
								</div>
								<div class="col-md-4" id="id_plc_ula">						
									<p>0</p>
								</div>
							</div>
							<div class="row">						
								<div class="col-md-3">
									<label>Link Local Address (LLA)</label>
								</div>
								<div class="col-md-4" id="id_plc_lla">						
									<p>0</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<label>Network prefix</label>
								</div>
								<div class="col-md-4" id="id_plc_prefix">
									<p>0</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<label>Routing address</label>
								</div>
								<div class="col-md-4" id="id_plc_routing">
									<p>0</p>
								</div>
							</div>
						</div>
					</div>
			</div><!-- /.panel -->
		</div><!-- /.col-->
	</div><!-- /.row -->	

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-warning">
				<div class="panel-heading">G3 network</div>
					<div class="panel-body">
						<div class="form-group">
							<div class="row">						
								<div class="col-md-3">
									<label>PAN Id</label>
								</div>
								<div class="col-md-4" id="id_pan_id">						
									<p>0</p>
								</div>
							</div>
							<div class="row">						
								<div class="col-md-3">
									<label>PSK</label>
								</div>
								<div class="col-md-4" id="id_sec_psk">						
									<p>0</p>
								</div>
							</div>
							<div class="row">						
								<div class="col-md-3">
									<label>GMK</label>
								</div>
								<div class="col-md-4" id="id_sec_gmk">						
									<p>0</p>
								</div>
							</div>	
							<div class="row">						
								<div class="col-md-3">
									<label>Max Hops</label>
								</div>
								<div class="col-md-4" id="id_max_hops">						
									<p>0</p>
								</div>
							</div>	
							<div class="row">						
								<div class="col-md-3">
									<label>Max Join Wait Time</label>
								</div>
								<div class="col-md-4" id="id_max_join_wait_time">						
									<p>0</p>
								</div>
							</div>	
					</div>
			</div><!-- /.panel -->
		</div><!-- /.col-->
	</div><!-- /.row -->
</div><!--/.main-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/chart-data.js"></script>
<script src="js/easypiechart.js"></script>
<script src="js/easypiechart-data.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script>
    /* Para pedir actualizaciones a Node al cargar la vista */
	$(function(){ 
		// Request. Esta funcion esta en "wscli.js"
		console.log('Configuration view: upd_configuration_req()');
		upd_configuration_req();
	});

	!function ($) {
		$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
			$(this).find('em:first').toggleClass("glyphicon-minus");	  
		}); 
		$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
	}(window.jQuery);

	$(window).on('resize', function () {
	  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
	})
	$(window).on('resize', function () {
	  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
	})

	function refreshConfiguration(data) {
		console.log('Configuration view: PLC Manager refreshConfiguration');
		console.log(data);
		// Update each DIV_ID content

		var sysinfo = data[0] + " " + data[1] + " " + data[2] + " " + data[3] + " " + data[4]
		$('#id_sys_info').html(sysinfo);

		$('#id_startup_time').html(data[5]);

		var appinfo = data[6] + " " + data[7] 
		$('#id_app_info').html(appinfo);

		$('#id_ppp_mac').html(data[8]);
		$('#id_ppp_ula').html(data[9]);
		$('#id_ppp_lla').html(data[10]);
		$('#id_ppp_routing').html(data[11]);

		$('#id_plc_ula').html(data[12]);
		$('#id_plc_lla').html(data[13]);
		$('#id_plc_prefix').html(data[14]);
		$('#id_plc_routing').html(data[15]);

		$('#id_pan_id').html(data[16]);
		$('#id_sec_psk').html(data[17]);
		$('#id_sec_gmk').html(data[18]);
		$('#id_max_hops').html(data[19]);
		$('#id_max_join_wait_time').html(data[20]);
	}
</script>	