<% sidebar = partial('sidebar_cnf.ejs') %>


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
			<li class="active">Configuration</li>
		</ol>
	</div><!--/.row-->

	<h2></h2>
	
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-info">
				<div class="panel-heading">Information</div>
					<div class="panel-body">
						<div class="row">
								<div class="col-md-2">
									<label>Product name</label>
								</div>
								<div class="col-md-10">						
									<p>G3 Gateway</p>
								</div>
						</div>
						<div class="row">
								<div class="col-md-2">
									<label>Serial #</label>
								</div>
								<div class="col-md-10">						
									<p>G20161014</p>
								</div>
						</div>						
						<div class="row">
								<div class="col-md-2">
									<label>OS version</label>
								</div>
								<div class="col-md-10">						
									<p>Linux aria 4.4.16 #3 Thu Sep 29 21:43:36 CEST 2016 armv5tejl GNU/Linux</p>
								</div>
						</div>
						<div class="row">
								<div class="col-md-2">
									<label>Application</label>
								</div>
								<div class="col-md-10">						
									<p>PLC Manager v1.0</p>
								</div>
						</div>				
					</div><!-- /.panel-body -->
			</div><!-- /.panel -->
		</div><!-- /.col-->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-success">
				<div class="panel-heading">Gateway</div>
					<div class="panel-body">
						<div class="form-group">
							<div class="row">						
								<div class="col-md-3">
									<label>Unique Local Address (ULA)</label>
								</div>
								<div class="col-md-4">						
									<input class="form-control" placeholder="FD00:0:0:2:1122:3344:5566:7788">
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<label>Network prefix</label>
								</div>
								<div class="col-md-4">
									<input class="form-control" placeholder="FD00:0:0:2::/64">
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<label>Network prefix length</label>
								</div>
								<div class="col-md-4">
									<input class="form-control" placeholder="64">
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<label>Routing address</label>
								</div>
								<div class="col-md-4">
									<input class="form-control" placeholder="FD00:140:21:0:fec2:3dff:fe1f:d7f8">
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
			</div><!-- /.panel -->
		</div><!-- /.col-->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-warning">
				<div class="panel-heading">G3 network</div>
					<div class="panel-body">
						<div class="form-group">
							<div class="row">						
								<div class="col-md-3">
									<label>PAN Id</label>
								</div>
								<div class="col-md-4">						
									<input class="form-control" placeholder="781D" title="0x781d">
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<label>Gateway ULA</label>
								</div>
								<div class="col-md-4">
									<input class="form-control" placeholder="FD00::781D:00AB:CDff:feef:0000">
								</div>
							</div>
							<div class="row">						
								<div class="col-md-3">
									<label>PSK</label>
								</div>
								<div class="col-md-4">						
									<input class="form-control" placeholder="AB10341145111BC3C12DE8FF11142204">
								</div>
							</div>
							<div class="row">						
								<div class="col-md-3">
									<label>GMK</label>
								</div>
								<div class="col-md-4">						
									<input class="form-control" placeholder="AF4D6DCCF14DE7C1C4235E6FEF6C151F">
								</div>
							</div>								
							<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
			</div><!-- /.panel -->
		</div><!-- /.col-->
	</div><!-- /.row -->
</div><!--/.main-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/chart-data.js"></script>
<script src="js/easypiechart.js"></script>
<script src="js/easypiechart-data.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script>
	!function ($) {
		$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
			$(this).find('em:first').toggleClass("glyphicon-minus");	  
		}); 
		$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
	}(window.jQuery);

	$(window).on('resize', function () {
	  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
	})
	$(window).on('resize', function () {
	  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
	})
</script>	