<% sidebar = partial('sidebar_eve.ejs') %>


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
			<li class="active">Statistics & Events</li>
		</ol>
	</div><!--/.row-->
	
	<div class="row">
		<div class="col-lg-12">
			<h2>Events</h2>
		</div>
		<div class="col-lg-12">
			<div class="alert bg-success" role="alert">
				<svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"></use></svg> All systems are up and running <a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
			</div>
			<div class="alert bg-warning" role="alert">
				<svg class="glyph stroked flag"><use xlink:href="#stroked-flag"></use></svg> No G3 nodes have joined yet <a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
			</div>			
		</div>
	</div><!--/.row-->		
	
	
	<div class="row">
		<div class="col-lg-12">
			<h2>Statistics</h2>
		</div>
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					System
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<label>Uptime</label>
						</div>
						<div class="col-md-6">						
							<p>23d23:05:23</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Memory usage (%)</label>
						</div>
						<div class="col-md-6">						
							<p>57</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>CPU utilization (%)</label>
						</div>
						<div class="col-md-6">						
							<p>5</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>System memory usage (%)</label>
						</div>
						<div class="col-md-6">						
							<p>10</p>
						</div>
					</div>					
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					LAN communications
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<label>Total packets received</label>
						</div>
						<div class="col-md-6">						
							<p>620516640</p>
						</div>
					</div>	
					<div class="row">
						<div class="col-md-6">
							<label>Forwarded</label>
						</div>
						<div class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>Discarded incoming packets</label>
						</div>
						<div class="col-md-6">						
							<p>0</p>
						</div>
					</div>						
					<div class="row">
						<div class="col-md-6">
							<label>Delivered incoming packets</label>
						</div>
						<div class="col-md-6">						
							<p>615716262</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>Requests sent out</label>
						</div>
						<div class="col-md-6">						
							<p>699594782</p>
						</div>
					</div>						
				</div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					G3 communications
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<label>Average round trip time</label>
						</div>
						<div class="col-md-6">						
							<p>928 ms</p>
						</div>
					</div>					
					<div class="row">
						<div class="col-md-6">
							<label>Broadcast messages sent</label>
						</div>
						<div class="col-md-6">						
							<p>1</p>
						</div>
					</div>	
					<div class="row">
						<div class="col-md-6">
							<label>Bytes transmitted (broadcast)</label>
						</div>
						<div class="col-md-6">						
							<p>16</p>
						</div>
					</div>						
					<div class="row">
						<div class="col-md-6">
							<label>Unicast messages sent</label>
						</div>
						<div class="col-md-6">						
							<p>8536</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Bytes transmitted (unicast)</label>
						</div>
						<div class="col-md-6">						
							<p>136576</p>
						</div>
					</div>					
					<div class="row">
						<div class="col-md-6">
							<label>Data throughput</label>
						</div>
						<div class="col-md-6">						
							<p>0.725 messages/sec</p>
						</div>
					</div>					
				</div>
			</div>
		</div>
		
	
	</div><!-- /.row -->
		
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Data throughput (bps)</div>
				<div class="panel-body">
					<div class="canvas-wrapper">
						<canvas class="main-chart" id="throughput-chart" height="160" width="600"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Average round trip time (s)</div>
				<div class="panel-body">
					<div class="canvas-wrapper">
						<canvas class="main-chart" id="roundtrip-chart" height="160" width="600"></canvas>
					</div>
				</div>
			</div>
		</div>
		
	</div><!-- /.row -->
	
	
</div><!--/.main-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/chart-data.js"></script>
<script src="js/easypiechart.js"></script>
<script src="js/easypiechart-data.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script>
	!function ($) {
		$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
			$(this).find('em:first').toggleClass("glyphicon-minus");	  
		}); 
		$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
	}(window.jQuery);

	$(window).on('resize', function () {
	  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
	})
	$(window).on('resize', function () {
	  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
	})
</script>	
