<% sidebar = partial('sidebar2.ejs') %>
<div id="content">
	<div class="inner">
		<!-- Post -->
			<article class="box post post-excerpt">
				<header>
					<h3><%= title %></h3>
				</header>
				<div class="info" id="nodenum"></div>
				<table id="nodetable"></table>
				<div class="pagination">
					<a href="/updT" class="button next">Reload Topology</a>
					<a href="/updV" class="button next">Update Version</a>
					<!-- <input type="button" value="Reload Topology" class="button next" onclick="reload_topology();"/> -->
				</div>
			</article>
	</div>
</div>
