<% sidebar = partial('sidebar_brd.ejs') %>


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
			<li class="active">Dashboard</li>
		</ol>
	</div><!--/.row-->
	
	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-3">
			<div class="panel panel-blue panel-widget ">
				<div class="row no-padding">
				<a href="#" onclick='upd_dashboard_info_req()'>
					<div class="col-sm-3 col-lg-5 widget-left">
						<svg class="glyph stroked chain"><use xlink:href="#stroked-chain"/></use></svg>
					</div>
					<div class="col-sm-9 col-lg-7 widget-right">
						<div id="num_devs" class="large">0</div>
						<div class="text-muted">Joined devices</div>
					</div>
				</a>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-3">
			<div class="panel panel-orange panel-widget">
				<div class="row no-padding">
					<div class="col-sm-3 col-lg-5 widget-left">
						<svg class="glyph stroked empty message"><use xlink:href="#stroked-empty-message"/></use></svg>
					</div>
					<div class="col-sm-9 col-lg-7 widget-right">
						<div id="num_msgs" class="large">0</div>
						<div class="text-muted">Data messages</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-3">
			<div class="panel panel-teal panel-widget">
				<div class="row no-padding">
					<div class="col-sm-3 col-lg-5 widget-left">
						<svg class="glyph stroked two messages"><use xlink:href="#stroked-two-messages"/></use></svg>
					</div>
					<div class="col-sm-9 col-lg-7 widget-right">
						<div id="num_pings" class="large">0</div>
						<div class="text-muted">Pings</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-3">
			<div class="panel panel-red panel-widget">
				<div class="row no-padding">
					<div class="col-sm-3 col-lg-5 widget-left">
						<svg class="glyph stroked map"><use xlink:href="#stroked-map"/></use></svg>
					</div>
					<div class="col-sm-9 col-lg-7 widget-right">
						<div id="num_paths" class="large">0</div>
						<div class="text-muted">Routes requested</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--/.row-->
	
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<a href="#" onclick='upd_dashboard_info_req()'>
					<div class="panel-heading">Network topology</div>
				</a>
				<div class="panel-body">
					<div class="canvas-wrapper" id="d3force">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Data throughput (bps)</div>
				<div class="panel-body">
					<div class="canvas-wrapper">
						<canvas class="main-chart" id="throughput-chart" height="160" width="600"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Average round trip time (s)</div>
				<div class="panel-body">
					<div class="canvas-wrapper">
						<canvas class="main-chart" id="roundtrip-chart" height="160" width="600"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div><!--/.row-->
	
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Network coverage</h4>
					<div class="easypiechart" id="easypiechart-blue" data-percent="0" ><span class="percent">0%</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Data coverage</h4>
					<div class="easypiechart" id="easypiechart-orange" data-percent="0" ><span class="percent">0%</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Ping success</h4>
					<div class="easypiechart" id="easypiechart-teal" data-percent="0" ><span class="percent">0%</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Routing errors</h4>
					<div class="easypiechart" id="easypiechart-red" data-percent="0" ><span class="percent">0%</span>
					</div>
				</div>
			</div>
		</div>
	</div><!--/.row-->
</div>	<!--/.main-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/chart-data.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script>
	$(function(){ 
		// Request Update dashboard info
		upd_dashboard_info_req();
	});
	!function ($) {
		$(document).on("click","ul.nav li.parent > a > span.icon", function(){          
			$(this).find('em:first').toggleClass("glyphicon-minus");      
		}); 
		$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
	}(window.jQuery);

	$(window).on('resize', function () {
	  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
	})
	$(window).on('resize', function () {
	  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
	})
	function updatePieChartB(data) {
		var newValue = data;
		$('#easypiechart-blue').data('easyPieChart').update(newValue);
		$('span', $('#easypiechart-blue')).text(newValue);
	}
	function updatePieChartO(data) {
		var newValue = data;
		$('#easypiechart-orange').data('easyPieChart').update(newValue);
		$('span', $('#easypiechart-orange')).text(newValue);
	}
	function updatePieChartT(data) {
		var newValue = data;
		$('#easypiechart-teal').data('easyPieChart').update(newValue);
		$('span', $('#easypiechart-teal')).text(newValue);
	}
	function updatePieChartR(data) {
		var newValue = data;
		$('#easypiechart-red').data('easyPieChart').update(newValue);
		$('span', $('#easypiechart-red')).text(newValue);
	}
</script>
<script src="js/easypiechart.js"></script>
<script src="js/easypiechart-data.js"></script>

<script src="js/d3.v3.min.js" charset="utf-8"></script>
<script src="js/d3force.js"></script>
