<!DOCTYPE HTML>
<html>
	<head>
		<title>DCU Web Server</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<script type="text/javascript" src="jquery-2.1.4.min.js" > </script>
		<!-- <script src="http://10.140.228.17/socket.io/socket.io.js"></script> -->
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script src="wscli.js"></script>
		<script type="text/javascript">
			$(function(){ 
				refresh_prime_info();
				<!-- setInterval(refresh_page, 1000); -->
				refresh_page();
			});
			
			function refresh_page() {
				if (window.XMLHttpRequest) {
					// Objeto para IE7+, Firefox, Chrome, Opera, Safari
					xmlhttp = new XMLHttpRequest();
				} else {
					// Objeto para IE6, IE5
					xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
				}
				<!-- var Connect = new XMLHttpRequest(); -->
				xmlhttp.open("GET", "nodelist.xml", false);
				xmlhttp.send();

				var NodeList = xmlhttp.responseXML;
				var Nodes = NodeList.childNodes[0];

				lista = "<tr><td>MAC Address</td><td>LNID</td><td>State</td><td>LSID</td><td>SID</td><td>Level</td><td>Version</td></tr>";	

				for (var i = 0; i < Nodes.children.length; i++) {
					var Node = Nodes.children[i];
					// Access each of the data values.
					var Mac = Node.getElementsByTagName("mac");
					var Lnid = Node.getElementsByTagName("lnid");
					var State = Node.getElementsByTagName("state");
					var Lsid = Node.getElementsByTagName("lsid");
					var Sid = Node.getElementsByTagName("sid");
					var Level = Node.getElementsByTagName("level");
					var Vendor = Node.getElementsByTagName("vendor");
					var Model = Node.getElementsByTagName("model");
					var Fwvs = Node.getElementsByTagName("fwvs");
					
					var Version = Vendor[0].textContent.toString() + " : " + Model[0].textContent.toString() + " : " + Fwvs[0].textContent.toString();

					// Write the data to the page.
					lista += "<tr><td>" + Mac[0].textContent.toString() + "</td><td>" + Lnid[0].textContent.toString() +
							 "</td><td>" + State[0].textContent.toString() + "</td><td>" + Lsid[0].textContent.toString() +
							 "</td><td>" + Sid[0].textContent.toString() + "</td><td>" + Level[0].textContent.toString() + "</td><td>" + Version + "</td></tr>";
				}
				<!-- lista += "</table>"; -->
				document.getElementById("nodetable").innerHTML = lista;
				document.getElementById("nodenum").innerHTML = Nodes.children.length + " nodes";
			};
			
			function refresh_prime_info() {
				var fecha = new Date();
				var mm_name = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Ago", "Oct", "Nov", "Dec"];
				
				if (window.XMLHttpRequest) {
					// Objeto para IE7+, Firefox, Chrome, Opera, Safari
					xmlhttp = new XMLHttpRequest();
				} else {
					// Objeto para IE6, IE5
					xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
				}
				<!-- var Connect = new XMLHttpRequest(); -->
				xmlhttp.open("GET", "prime_info.xml", false);
				xmlhttp.send();

				var PrimeInfo = xmlhttp.responseXML;
				var PrInfo = PrimeInfo.childNodes[0];

				// Access of the data values.
				var MAC = PrInfo.getElementsByTagName("mac");
				var VID = PrInfo.getElementsByTagName("vendor_id");
				var PID = PrInfo.getElementsByTagName("product_id");
				var FWV = PrInfo.getElementsByTagName("fw_version");

				<!-- Update View -->
				var mac_split = MAC[0].textContent.toString().split("");
				document.getElementById("dcu_mac").innerHTML = "DCU SNA : <br>" + mac_split[0] + mac_split[1] + ":" + mac_split[2] + mac_split[3] + ":" +
																mac_split[4] + mac_split[5] + ":" + mac_split[6] + mac_split[7] + ":" +
																mac_split[8] + mac_split[9] + ":" + mac_split[10] + mac_split[11];
				document.getElementById("dcu_fwv").innerHTML = "DCU VERSION : <br>" + FWV[0].textContent.toString();
				document.getElementById("dcu_vid").innerHTML = "DCU VENDOR : <br>" + VID[0].textContent.toString();
				document.getElementById("dcu_pid").innerHTML = "DCU PRODCUT ID  : <br>" + PID[0].textContent.toString();
				document.getElementById("dcu_date").innerHTML = "DCU Time : <br>" + fecha.getFullYear() + "/" + mm_name[fecha.getMonth() + 1] + "/" + fecha.getDate();
			};
</script>
	</head>
	<body>
		<!-- Content -->
			<%- body %>
		
		<!-- WebSockets -->
		<h1>My Websocket</h1>                                                  
		<div id="messages"></div>                                              
		<br/>                                                                  
		<form onsubmit="return addMessage(this)">                              
			<input type="text" id="user" placeholder="SRV or CLI" >            
			<input type="text" id="command" placeholder="put your command..."> 
			<input type="submit" value="Send CMD">                             
		</form>                                                                      
		<form onsubmit="return sendPLCMsg(this)">                              
			<input type="text" id="NodeUser" placeholder="PLC or NODE" >            
			<input type="text" id="NodeCmd" placeholder="put your command..."> 
			<input type="submit" value="Send PLC CMD">                             
		</form>                                                                

		<!-- Sidebar -->
			<div id="sidebar">

				<!-- Logo -->
					<h1 id="logo"><a href="#"></a></h1>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="current"><a href="#">PRIME</a></li>
							<li><a href="#">Configuration</a></li>
							<li><a href="#">Statistics</a></li>
							<li><a href="#">Operation</a></li>
						</ul>
					</nav>

				<!-- Text -->
					<section class="box text-style1">
						<div class="inner">
							<ul>
							<li id="dcu_mac"></li>
							<li id="dcu_fwv"></li>
							<li id="dcu_vid"></li>
							<li id="dcu_pid"></li>
							<li id="dcu_date"></li>
							</ul>
						</div>
					</section>

				<!-- Copyright -->
					<ul id="copyright">
						<li>&copy; Untitled.</li><li>Design: Widelen S.L.</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>