<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li><a href="devices.html"><svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></use></svg> Devices</a></li>
			<li class="active"><a href="statistics.html"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"/></use></svg> Statistics</a></li>
			<li><a href="configuration.html"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"/></use></svg> Configuration</a></li>
			<li role="presentation" class="divider"></li>
		</ul>

</div><!--/.sidebar-->