<% sidebar = partial('sidebar_stats.ejs') %>


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
			<li class="active">System Statistics</li>
		</ol>
	</div><!--/.row-->
	
	<div class="row">
		<div class="col-lg-12">
			<h2>Statistics</h2>
		</div>
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					System
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<label>Uptime (sec)</label>
						</div>
						<div id="stat_sys_uptime" class="col-md-6">						
							<p>0</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>CPU free (%)</label>
						</div>
						<div id="stat_sys_cpu_free" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>Total RAM memory (Bytes)</label>
						</div>
						<div id="stat_sys_mem_total" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>Free RAM memory (Bytes)</label>
						</div>
						<div id="stat_sys_mem_free" class="col-md-6">						
							<p>0</p>
						</div>
					</div>			
					<div class="row">
						<div class="col-md-6">
							<label>Load Average in the last 5 min (%)</label>
						</div>
						<div id="stat_sys_load_avg" class="col-md-6">						
							<p>0</p>
						</div>
					</div>			
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					LAN communications
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<label>Total packets received</label>
						</div>
						<div id="stat_eth0_rx_packets" class="col-md-6">						
							<p>0</p>
						</div>
					</div>	
					<div class="row">
						<div class="col-md-6">
							<label>RX Errors</label>
						</div>
						<div id="stat_eth0_rx_errors" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>RX Dropped</label>
						</div>
						<div id="stat_eth0_rx_dropped" class="col-md-6">						
							<p>0</p>
						</div>
					</div>						
					<div class="row">
						<div class="col-md-6">
							<label>RX Overruns</label>
						</div>
						<div id="stat_eth0_rx_overruns" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>RX Frame errors</label>
						</div>
						<div id="stat_eth0_rx_frame" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>Total packets transmitted</label>
						</div>
						<div id="stat_eth0_tx_packets" class="col-md-6">						
							<p>0</p>
						</div>
					</div>	
					<div class="row">
						<div class="col-md-6">
							<label>TX Errors</label>
						</div>
						<div id="stat_eth0_tx_errors" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>TX Dropped</label>
						</div>
						<div id="stat_eth0_tx_dropped" class="col-md-6">						
							<p>0</p>
						</div>
					</div>						
					<div class="row">
						<div class="col-md-6">
							<label>TX Overruns</label>
						</div>
						<div id="stat_eth0_tx_overruns" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>TX Carrier errors</label>
						</div>
						<div id="stat_eth0_tx_carrier" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>Collisions</label>
						</div>
						<div id="stat_eth0_collisions" class="col-md-6">						
							<p>0</p>
						</div>
					</div>	
					<div class="row">
						<div class="col-md-6">
							<label>RX Bytes</label>
						</div>
						<div id="stat_eth0_rx_bytes" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>TX Bytes</label>
						</div>
						<div id="stat_eth0_tx_bytes" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
				</div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					G3 communications
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<label>Total packets received</label>
						</div>
						<div id="stat_ppp0_rx_packets" class="col-md-6">						
							<p>0</p>
						</div>
					</div>	
					<div class="row">
						<div class="col-md-6">
							<label>RX Errors</label>
						</div>
						<div id="stat_ppp0_rx_errors" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>RX Dropped</label>
						</div>
						<div id="stat_ppp0_rx_dropped" class="col-md-6">						
							<p>0</p>
						</div>
					</div>						
					<div class="row">
						<div class="col-md-6">
							<label>RX Overruns</label>
						</div>
						<div id="stat_ppp0_rx_overruns" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>RX Frame errors</label>
						</div>
						<div id="stat_ppp0_rx_frame" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>Total packets transmitted</label>
						</div>
						<div id="stat_ppp0_tx_packets" class="col-md-6">						
							<p>0</p>
						</div>
					</div>	
					<div class="row">
						<div class="col-md-6">
							<label>TX Errors</label>
						</div>
						<div id="stat_ppp0_tx_errors" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>TX Dropped</label>
						</div>
						<div id="stat_ppp0_tx_dropped" class="col-md-6">						
							<p>0</p>
						</div>
					</div>						
					<div class="row">
						<div class="col-md-6">
							<label>TX Overruns</label>
						</div>
						<div id="stat_ppp0_tx_overruns" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>TX Carrier errors</label>
						</div>
						<div id="stat_ppp0_tx_carrier" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>Collisions</label>
						</div>
						<div id="stat_ppp0_collisions" class="col-md-6">						
							<p>0</p>
						</div>
					</div>	
					<div class="row">
						<div class="col-md-6">
							<label>RX Bytes</label>
						</div>
						<div id="stat_ppp0_rx_bytes" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
					<div class="row">
						<div class="col-md-6">
							<label>TX Bytes</label>
						</div>
						<div id="stat_ppp0_tx_bytes" class="col-md-6">						
							<p>0</p>
						</div>
					</div>		
				</div>
			</div>
		</div>	
	</div><!-- /.row -->	
	
</div><!--/.main-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/chart-data.js"></script>
<script src="js/easypiechart.js"></script>
<script src="js/easypiechart-data.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script>
    /* Para pedir actualizaciones a Node al cargar la vista */
	$(function(){ 
		// Request. Esta funcion esta en "wscli.js"
		console.log('Statistics view: upd_statistics_req()');
		upd_statistics_req();
	});

	!function ($) {
		$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
			$(this).find('em:first').toggleClass("glyphicon-minus");	  
		}); 
		$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
	}(window.jQuery);

	$(window).on('resize', function () {
	  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
	})
	$(window).on('resize', function () {
	  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
	})
	
	function refreshStatistics(data) {
		console.log('Statistics view: refreshStatistics');
		console.log(data);
		// Update each DIV_ID content
		$('#stat_eth0_rx_packets').html(data[0]);
		$('#stat_eth0_rx_errors').html(data[1]);
		$('#stat_eth0_rx_dropped').html(data[2]);
		$('#stat_eth0_rx_overruns').html(data[3]);
		$('#stat_eth0_rx_frame').html(data[4]);
		$('#stat_eth0_tx_packets').html(data[5]);
		$('#stat_eth0_tx_errors').html(data[6]);
		$('#stat_eth0_tx_dropped').html(data[7]);
		$('#stat_eth0_tx_overruns').html(data[8]);
		$('#stat_eth0_tx_carrier').html(data[9]);
		$('#stat_eth0_collisions').html(data[10]);
		$('#stat_eth0_rx_bytes').html(data[11]);
		$('#stat_eth0_tx_bytes').html(data[12]);
		$('#stat_ppp0_rx_packets').html(data[13]);
		$('#stat_ppp0_rx_errors').html(data[14]);
		$('#stat_ppp0_rx_dropped').html(data[15]);
		$('#stat_ppp0_rx_overruns').html(data[16]);
		$('#stat_ppp0_rx_frame').html(data[17]);
		$('#stat_ppp0_tx_packets').html(data[18]);
		$('#stat_ppp0_tx_errors').html(data[19]);
		$('#stat_ppp0_tx_dropped').html(data[20]);
		$('#stat_ppp0_tx_overruns').html(data[21]);
		$('#stat_ppp0_tx_carrier').html(data[22]);
		$('#stat_ppp0_collisions').html(data[23]);
		$('#stat_ppp0_rx_bytes').html(data[24]);
		$('#stat_ppp0_tx_bytes').html(data[25]);
		$('#stat_sys_mem').html(data[26]);
		$('#stat_sys_cpu').html(data[27]);
	}
	
	function refreshPLCManaherStatistics(data) {
		console.log('Statistics view: PLC Manager refreshStatistics');
		console.log(data);
		// Update each DIV_ID content
		$('#stat_sys_mem').html(data[0]);
		$('#stat_sys_cpu').html(data[1]);
	}
	
	function refreshSystemStatistics(data) {
		console.log('Statistics view: System refreshStatistics');
		console.log(data);
		// Update each DIV_ID content
		$('#stat_sys_cpu_free').html(data[0] * 100.00);
		$('#stat_sys_mem_total').html(data[1]);
		$('#stat_sys_mem_free').html(data[2]);
		$('#stat_sys_uptime').html(data[3]);
		$('#stat_sys_load_avg').html(data[4] * 100.00);
	}
</script>	
